Source: openapi3
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/dorthu/openapi3

Package: python3-openapi3
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Client and Validator of OpenAPI 3 Specifications
 openapi3
 ========
 .
 A Python `OpenAPI 3 Specification`_ client and validator for Python 3.
 .
 .. image:: https://travis-ci.org/Dorthu/openapi3.svg?branch=master
     :target: https://travis-ci.org/Dorthu/openapi3
 .
 .
 .. image:: https://badge.fury.io/py/openapi3.svg
    :target: https://badge.fury.io/py/openapi3
 .
 .
 Validation Mode
 ---------------
 .
 This module can be run against a spec file to validate it like so::
 .
    python3 -m openapi3 /path/to/spec
 .

